<md-content flex layout-padding ng-class="{'no-orders': !ctrl.svc.orders}">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="order in ctrl.svc.orders">
      <div class="md-list-item-text">
        <h3 layout="row">
          <span>{{order.drink_name}} for {{order.user_name}}</span>
          <span flex></span>
          <span class="rating" ng-class="{'unrated': !order.rating}">
            <button ng-repeat="i in [1, 2, 3, 4, 5]"
                    ng-click="ctrl.rate(order, i)"
                    ng-class="i <= (order.rating||0) ? 'filled' : 'empty'">
              {{ i <= (order.rating || 0) ? "&#x2605;" : "&#x2606;" }}
            </button>
          </span>
        </h3>
        <p>{{ctrl.ingredientsCsv(order)}}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
