.drink-list h3 {
  font-size: 150%;
}

.page-detail {
  & .ingredients {
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  & md-content {
    padding: 24px;
  }
}

#searchBox {
  color: white;
  border-color: white;
}

.ng-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.page-detail,
.page-about,
.all-orders {
  &.ng-enter { animation: from-right 0.5s forwards; }
  &.ng-leave { animation: from-right 0.5s reverse forwards; }
}

.page-list {
  &.ng-enter { animation: from-left 0.5s forwards; }
  &.ng-leave { animation: from-left 0.5s reverse backwards; }
}

@keyframes from-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@keyframes from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

order-status {
  bottom: 0;
  left: 0;
  position: fixed;
  position: relative;
  width: 100%;

  & .ingredients-list {
    text-transform: capitalize;
  }

  & md-list-item.md-2-line .md-list-item-text h3 {
    /* Wrap the title of the drink instead of letting it get cut off */
    white-space: normal;
  }

  & .rating {
    & button {
      background-color: transparent;
      border: none;
      font-size: 30px;
      height: 45px;
      padding: 0;
      text-align: center;
      width: 30px;
    }

    & .star-cont { text-align: center; }
    & .filled { color: #FBB608; }
    & .empty { color: #999; }
    & .unrated .empty { color: black; }
  }

  & h3 {
    color: rgba(0,0,0,0.87);
    margin: 10px 0 0;
  }
}

md-card.about {
  max-width: 400px;
  margin: auto;
}

.orders-btn-cont {
  bottom: 8px;
  position: fixed;
  width: 100%;
}

.orders-btn {
  display: block;
  margin: auto;
}

.order-status-sheet {
  padding-bottom: 20px;
  transform: none;
}

.order-status-wrapper {
  width: 100%;
}

.order-state,
.order-action,
.queue {
  color: rgba(0,0,0,0.54);
}

.order-state {
  margin: 0;

  &.order-done { margin-bottom: 30px; }
}

.order-action {
  margin: 10px 0;
}

.queue {
  margin-bottom: 20px;
  text-align: center;
}

.queue-position {
  font-size: 24px;
  & sup { font-size: 18px; }
}

.order-progress {
  padding-bottom: 10px;
  & md-progress-linear { margin-top: 10px; }
}

.all-orders-card {
  margin: 10px auto;
  padding: 6px;
  min-height: 150px;
  width: 90%;

  &.exit-left { animation: from-right 0.5s forwards; } 
  &.exit-right { animation: from-left 0.5s forwards; }
}



md-dialog {
  max-height: 90%;
  max-width: 90%;
  &.md-dialog-content { padding: 6px; }
}

/* Styles for admin */
.admin-queue-position .admin-pos {
  display: inline-block;
  font-weight: bold;
  padding: 4px;
  text-align: center;
}

.admin-order-list {
  & md-list-item {
    margin-top: 20px;
  }

  & md-list-item>.md-avatar {
    border-radius: none;
    margin-top: 0;
    text-align: center;
  }

  & h3 {
    max-width: 250px;
  }

  & .md-avatar {
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
    top: -10px;
  }
}

.admin-arrow {
  font-size: 32px;
}

/* About page */
.about-card {
  & p {
    line-height: 1.4;
  }

  & li {
    list-style: none;
    margin-top: 12px;
  }
}
