.drink-list h3 {
  font-size: 150%;
}

.page-detail {
  & .ingredients {
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  & md-content {
    padding: 24px;
  }
}

#searchBox {
  color: white;
  border-color: white;
}

.ng-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.page-detail,
.page-about,
.all-orders {
  &.ng-enter { animation: from-right 0.5s forwards; }
  &.ng-leave { animation: from-right 0.5s reverse forwards; }
}

.page-list {
  &.ng-enter { animation: from-left 0.5s forwards; }
  &.ng-leave { animation: from-left 0.5s reverse backwards; }
}

@keyframes from-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@keyframes from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

md-card.about {
  max-width: 400px;
  margin: auto;
}

.all-orders-card {
  margin: 10px auto;
  padding: 6px;
  min-height: 150px;
  width: 90%;

  &.exit-left { animation: from-right 0.5s forwards; } 
  &.exit-right { animation: from-left 0.5s forwards; }
}

md-dialog {
  max-height: 90%;
  max-width: 90%;
  &.md-dialog-content { padding: 6px; }
}
