<md-dialog aria-label="Enter your name">
 <form ng-submit="closeDialog()"> 
 <md-toolbar><div class="md-toolbar-tools"> 
  <h2>What should we call you?</h2> 
  <span flex></span><md-button class="md-icon-button" 
      ng-click="cancel()"><md-icon md-svg-src="icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon></md-button> 
 </div></md-toolbar> 
 <md-dialog-content>
   <md-input-container><label>Your Name</label> 
   <input type="text" ng-model="user_name" focus-on="dialogOpened"> 
   </md-input-container> 
 </md-dialog-content>
 <div class="md-actions"> 
  <md-button ng-click="cancel()">Cancel</md-button> 
  <md-button type="submit" ng-disabled="!user_name" class="md-primary"> 
      Make Drink</md-button> 
 </div> 
 </form> 
</md-dialog>
