<md-dialog aria-label="Enter your name">
  <form name="nameForm" novalidate
      ng-submit="nameForm.$valid && closeDialog()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>What should we call you?</h2>
        <span flex></span>
        <md-button type="button" class="md-icon-button" ng-click="cancelDialog()">
          <md-icon md-svg-src="icons/ic_close_white_24px.svg"
              aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container>
        <label>Your Name</label>
        <input type="text" ng-model="user_name" md-autofocus required>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="button" ng-click="cancelDialog()">Cancel</md-button>
      <md-button type="submit" class="md-primary"
          ng-disabled="!nameForm.$valid">
        Make Drink
      </md-button>
    </div>
  </form>
</md-dialog>
