<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
  <md-content class="layout-padding">
  <md-list class="drink-list">
  <md-input-container>
    <label ng-hide="selected_drink">Search</label>
    <input ng-model="query">
  </md-input-container>
  <md-list-item class="md-2-line" ng-repeat="drink in db | filter:{drink_name:query} | orderBy:'drink_name'" ng-click="selectDrink(drink)">
      <img ng-src="thumbs/{{drinkUrl(drink.drink_name)}}.jpg" class="md-avatar">
      <div class="md-list-item-text">
        <h3>{{drink.drink_name}}</h3>
        <p>{{ingredientsCsv(drink)}}</p>
      </div>
    </md-list-item>
  </md-list>
  </md-content>
</div>
