<html ng-app="n8Admin">
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
  <script src="compiled.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body ng-controller="n8AdminCtrl as ctrl">
  <div layout="row" layout-align="center center">
    <md-button class="md-fab" ng-click="ctrl.refresh()">
      <md-icon md-svg-src="icons/ic_refresh_white_24px.svg"></md-icon>
    </md-button>
  </div>
  <md-list class="admin-order-list">
    <div>
      <md-list-item class="md-3-line" ng-repeat="order in ctrl.queue">
        <div class="md-avatar"
             ng-class="{'admin-queue-position': order.position}">
          <div ng-if="$index != 0" class="admin-arrow"
               ng-click="ctrl.promote(order)">
            ▲
          </div>
          <div ng-if="$index == 0" class="admin-arrow">&nbsp;</div>
          <span class="admin-pos" ng-if="order.position">
            {{order.position}}
          </span>
          <span class="admin-pos" ng-if="!order.position">
            ∞
          </span>
        </div>
        <div class="md-list-item-text">
          <h3>{{order.user_name}} &ndash; {{order.drink_name}}</h3>
          <p>{{order.total_oz}} oz | {{ctrl.ingredientsCsv(order)}}</p>
          <div>
            <md-button class="md-primary"
                       ng-class="{'md-raised': !order.approved}"
                       ng-click="ctrl.approve(order, !order.approved)">
              {{order.approved ? 'Unapprove' : 'Approve'}}
            </md-button>
            <md-button ng-click="ctrl.archive(order)">Archive</md-button>
          </div>
        </div>
      </md-list-item>
    </div>
  </md-list>
</body>
</html>
