.drink-list h3 {
  font-size: 150%;
}

.page-detail .ingredients {
  text-transform: capitalize;
  margin-bottom: 24px;
}

.page-detail md-content {
  padding: 24px;
}

#searchBox {
  color: white;
  border-color: white;
}

.view-animate {
  width: 100%;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.view-animate.ng-enter {
  left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
  left: 0;
}

.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}

.page-list.ng-enter {
  left: -100%;
}

.page-list.ng-leave-active {
  left: 100%;
}
