.drink-list h3 {
  font-size: 150%;
}

.page-detail .ingredients {
  text-transform: capitalize;
  margin-bottom: 24px;
}

.page-detail md-content {
  padding: 24px;
}

#searchBox {
  color: white;
  border-color: white;
}

.ng-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.page-detail.ng-enter {
  animation: from-right 0.5s forwards;
  -webkit-animation: from-right 0.5s forwards;
}

.page-detail.ng-leave {
  animation: from-right 0.5s reverse forwards;
  -webkit-animation: from-right 0.5s reverse forwards;
}

.page-list.ng-enter {
  animation: from-left 0.5s forwards;
  -webkit-animation: from-left 0.5s forwards;
}

.page-list.ng-leave {
  animation: from-left 0.5s reverse backwards;
  -webkit-animation: from-left 0.5s reverse backwards;
}

@keyframes from-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes from-left {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes from-right {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
